html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 95vw; height: 95vh; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.selection .action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 1px;

    background: white;
}

.action.active {
    filter: invert(0.05);
}

.content {
    display: grid;
    grid-auto-rows: 10% 80% 5%;
    height: 95vh;
}
.actions {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}