{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Which one worth investing spare time?{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section class="selection">
  {% for category in categories %}
    {% for activity in activities[category['id']] %}
      <section class="action" v-on:click="selectActivity('<%activity.id%>')" v-bind:class="{ active: '<%activity.id%>' == selectedActivity }">
          <h1><% activity['title'] %></h1>
        {% if not loop.last %}
        {% endif %}
    {% endfor %}
      </section>
  {% endfor %}
  </section>
  <section class="actions">
      <a class="action" v-bind:href="'start/' + selectedActivity">Start</a>
  </section>
{% endblock %}
