{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Which one worth investing spare time?{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section class="selection">
  {% for category in categories %}
      <section class="action" v-on:click="selectCategory('<%category.id%>')" v-bind:class="{ active: '<%category.id%>' == selectedCategory }">
      {% for activity in activities[category['id']] %}
          <h1><% activity['title'] %></h1>
        {% if not loop.last %}
        {% endif %}
      {% endfor %}
      </section>
  {% endfor %}
  </section>
  <section class="actions">
      <a class="action" v-bind:href="'create/' + selectedCategory">Start</a>
  </section>
{% endblock %}
